.sidenav{
    background-color:#6fb98f;
    height:10rem;
    width:3rem;
    position:fixed;
    right:0.5rem;
    top: 30%;
    border-radius: 0.5rem;
    z-index:1;
    display:flex;
    flex-direction: column;
    padding:0.5rem 0.2rem;
    align-items:center;
    justify-content: center;
}

.icon{
    margin:3px 0 3px 0;
}